<div class="p-d-flex p-ai-center p-jc-between" style="font-weight: 500; padding: 1rem; font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; font-size: 36pt; color: #dbdbdb;">
    Cadastro de personagens
</div>
<div class="p-fluid p-grid">
    <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
            <input type="text" id="id" pInputText [(ngModel)]="id"> 
            <label for="inputtext">Id</label>
        </span>
    </div>
</div>

<div class="p-fluid p-grid">
    <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
            <input type="text" id="nickname" pInputText [(ngModel)]="nickname"> 
            <label for="inputtext">Nickname</label>
        </span>
    </div>
</div>

<div class="p-fluid p-grid">
    <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
            <input type="number" id="race" pInputText [(ngModel)]="race"> 
            <label for="inputtext">Raça</label>
        </span>
    </div>
</div>

<div class="p-fluid p-grid">
    <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
            <input type="number" id="class" pInputText [(ngModel)]="class"> 
            <label for="inputtext">Classe</label>
        </span>
    </div>
</div>

<div class="p-fluid p-grid">
    <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
            <input type="number" id="element" pInputText [(ngModel)]="element"> 
            <label for="inputtext">Elemento</label>
        </span>
    </div>
</div>

<div class="p-fluid p-grid">
    <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
            <input type="number" id="origin" pInputText [(ngModel)]="origin"> 
            <label for="inputtext">Origem</label>
        </span>
    </div>
</div>

<br><br>
<button pButton pRipple type="button" label="Cancelar" class="p-button-danger"></button>

<button pButton pRipple type="button" label="Salvar" class="p-button-success"></button>
