<div class="container">

    <p-card header="Gabriel Andrade" [style]="{'width': '25rem', 'margin-bottom': '2em', 'float': 'left'}">
        <ng-template pTemplate="header">
            <img alt="Card" src="assets/authors/images/gabriel.jpg">
        </ng-template>
        <p>Matrícula: 1810021814</p>
    </p-card>
    
    <p-card header="Claudio Bessa" [style]="{'width': '25rem', 'margin-bottom': '2em', 'margin-left': '250px'}">
        <ng-template pTemplate="header">
            <img alt="Card" src="assets/authors/images/claudio.jpg">
        </ng-template>
        <p>Matrícula: 1810022607</p>
    </p-card>

</div>