<div class="p-d-flex p-ai-center p-jc-between" style="font-weight: 500; padding: 1rem; font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; font-size: 36pt; color: #dbdbdb;">
    Cadastro de mundos
</div>
<!-- <div class="p-fluid p-grid">
    <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
            <input type="text" id="id" pInputText [(ngModel)]="world.id"> 
            <label for="inputtext">Id</label>
        </span>
    </div>
</div> -->

<div class="p-fluid p-grid">
    <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
            <input type="text" pInputText [(ngModel)]="name"> 
            <label for="inputtext">Nome</label>
        </span>
    </div>
</div>

<div class="p-fluid p-grid">
    <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
            <input type="number" id="population" pInputText [(ngModel)]="population"> 
            <label for="inputtext">População</label>
        </span>
    </div>
</div>

<div class="p-fluid p-grid">
    <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
            <input type="number" id="global_rating" pInputText [(ngModel)]="global_rating"> 
            <label for="inputtext">Nota do mundo</label>
        </span>
    </div>
</div>

<div class="p-fluid p-grid">
    <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
            <input type="number" id="water_rating" pInputText [(ngModel)]="water_rating"> 
            <label for="inputtext">Nota da água</label>
        </span>
    </div>
</div>

<div class="p-fluid p-grid">
    <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
            <input type="number" id="diamond_rating" pInputText [(ngModel)]="diamond_rating"> 
            <label for="inputtext">Nota de diamantes</label>
        </span>
    </div>
</div>

<div class="p-fluid p-grid">
    <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
            <input type="number" id="gold_rating" pInputText [(ngModel)]="gold_rating"> 
            <label for="inputtext">Nota de ouro</label>
        </span>
    </div>
</div>

<div class="p-fluid p-grid">
    <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
            <input type="number" id="silver_rating" pInputText [(ngModel)]="silver_rating"> 
            <label for="inputtext">Nota de prata</label>
        </span>
    </div>
</div>

<div class="p-fluid p-grid">
    <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
            <input type="number" id="world.cooper_rating" pInputText [(ngModel)]="cooper_rating"> 
            <label for="inputtext">Nota da bronze</label>
        </span>
    </div>
</div>
<br><br>
<button pButton pRipple type="submit" label="Cancelar" class="p-button-danger"></button>

<button pButton pRipple (click)="salvar()" type="submit" label="Salvar" class="p-button-success"></button>
